{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}

{% block title %}Éditer le profil{% endblock %}

{% block body %}
        <h1>Modifier votre profil</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, { 'label': 'Nouveau mot de passe' }) }}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
{% endblock %}